<div class="pt-2">

  <h1 class="d-flex justify-content-center">DBZ Personajes</h1>
  <hr>

  <!-- <div class="container"> -->
    <div class="row container w-auto" data-bs-theme="dark">
      <div class="col">
        <dbz-list
        [characterList]="characters"
        (onDelete)="onDeleteCharacter($event)"></dbz-list>
      </div>

      <div class="col">
        <dbz-add-character (onNewCharacter)="onNewCharacter($event)" ></dbz-add-character>
      </div>

    </div>
  </div>

<!-- </div> -->
